{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Startseite {% endblock %}
{% block body %}
    <!-- md container breaks if smaller than 768-->
    <div class="container">
      <div class="row text-center justify-content-center mb-5">
        <div class="col-auto gy-3">
          <img src="{{ asset('pics/KKHT-logo.png') }}" alt="KKHT SWK Logo" class="kkhtlogo">
          <h1 class="mt-2">SWK Pfingstturnier</h1> <span class="number">2025</span>
        </div>
      </div>

      <p class="text-center">Dies ist die Startseite des SWK Pfingstturniers 2025 - <br>dem großen, 
      traditionellen Hockeycamp des <strong>KKHT Schwarz-Weiß Köln 1920 e.V.</strong></p> 
      
      <p class="text-center">Bei Interesse an unserem Turnier melde Dich bitte beim 
      Orga Team unter <a href="mailto:pfingsten@kkht.de">pfingsten@kkht.de</a>.
      </p>

      {% if app.request.server.get('APP_ENV') == 'dev' %}
        <p class="text-center">Entwicklungsumgebung aktiv</p>
        <p class="text-center">
          <a href="/player/register">Spieler:in anmelden</a><br>
          <a href="/team/register">Team anmelden</a><br>
        </p>
        <p class="text-center">
          <a href="/player/list">Spielerliste anzeigen</a><br>
          <a href="/team/list">Teamliste anzeigen</a><br>
        </p>        
      {% endif %}
    </div>
{% endblock %}
