{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Startseite {% endblock %}
{% block body %}
    <!-- md container breaks if smaller than 768-->
    <div class="container p-4">
      <div class="row text-center justify-content-center mb-5">
        <div class="col-auto gy-3">
          <img src="{{ asset('pics/KKHT-logo.png') }}" alt="KKHT SWK Logo" class="kkhtlogo">
          <h1>SWK Pfingstturnier</h1> <span class="number">2025</span>
        </div>
      </div>

      <p>Dies ist die Startseite des SWK Pfingstturniers 2025 - dem großen 
      traditionellen Hockeycamp des KKHT Schwarz-Weiß Köln 1920 e.V.</p> 
      
      <p>Bei Interesse an unserem Turnier melde Dich bitte beim 
      Orga Team unter <a href="mailto:pfingsten@kkht.de">pfingsten@kkht.de</a>.
      </p>
    </div>
{% endblock %}
